// .max-taille {
//   max-width: 936px;
// }

// @media only screen and (min-width: 768px) {
//   

//   .text-carousel {
//     position: absolute;
//     bottom: 0px;
//     background-color: transparent;
//     width: 100%;
//     margin-bottom: 10px;
//   }
// }

// @media only screen and (max-width:768) {
//   .text-carousel {
//     width: 100%;
//   }
// }

.grid {
  display: grid;
  height: 20px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 310px;
}

.defiId {
  grid-column: 1;
}

.mrgTop {
  margin-top: 20px;
}

.grid2 {
  display: grid;
  height: 20px;
  max-width: 310px;
}

.clickableLine:hover {
  cursor: pointer;
  background-color: #d3d3e4;
}

.titre {
  grid-column: 2;
}

.titre2 {
  grid-column: 3 / span 4;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
