<app-defi *ngIf="currentDefi" 
          [defi]="currentDefi">
</app-defi>

<section class="ListDefis"
         *ngIf="listDefisObs | async as defis">
         <h1>Défis</h1>
<table>
    <thead>
        <th>Défi</th>
        <th>Titre</th>
        <!--
            <th>Auteur</th>
            <th>Date de création</th>
        -->
    </thead>
    <tbody>
        <tr *ngFor="let defi of defis"
            (click)="selectDefi(defi)">
            <td>{{defi.id}}</td>
            <td>{{defi.titre}}</td>
            <!--
                <td>{{defi.auteur.login}}</td>
                <td>{{parsedDateToString(defi.dateDeCreation)}}</td>
            -->
        </tr>
    </tbody>
</table>
</section>