<app-defi *ngIf="currentDefi" 
          [defi]="currentDefi">
</app-defi>

<section class="ListDefis"
         *ngIf="listDefisObs | async as defis">
    
<mat-card class="defi-card">
    <mat-card-header>
        <mat-card-title>Défis</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <ul>
            <li class="grid">
                <th class="defiId">Défi</th>
                <th class="titre">Titre</th>
                <!--
                    <th>Auteur</th>
                    <th>Date de création</th>
                -->
            </li>
            <li class="grid"
                *ngFor="let defi of defis"
                (click)="selectDefi(defi)">
                <td class="defiId">{{defi.id}}</td>
                <td class="titre">{{defi.titre}}</td>
                <!--
                    <td>{{defi.auteur.login}}</td>
                    <td>{{parsedDateToString(defi.dateDeCreation)}}</td>
                -->
            </li>
        </ul>
    </mat-card-content>
</mat-card>
</section>