mat-card-content ul{
  padding:0 20px 0 20px;
}

.grid {
  display: grid;
  height: 20px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 310px;
}

.defiId {
  grid-column: 1;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 20px;
  max-width: 310px;
}

.clickableLine:hover {
  cursor: pointer;
  background-color: #d3d3e4;
}

.titre {
  grid-column: 2 / span 2;
  text-align: center;
}

.mrgTop {
  margin-top: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
