<mat-card class="chami-card">
  <mat-card-header class="container">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ chami.login }}</mat-card-title>
    <mat-card-subtitle *ngIf="chami.email">age : {{ chami.age }}, email : {{ chami.email }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!chami.email">age : {{ chami.age }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="container">
    <mat-tab-group>
      <mat-tab *ngFor="let defi of chami.defis" [label]="defi.id.toString()" ><br/><b>Titre : </b>{{ defi.titre }}<br/><b>Description : </b>{{ defi.description }}<br/><b>Catégorie : </b>{{ defi.categorie }}<br/><b>Date de création : </b>{{ parsedDateToString(defi.dateDeCreation) }}</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<!-- <table>
      <thead style="height: 10px;">
        <td style="width: 175px;">Titre</td>
        <td style="width: 1000px;">Description</td>
      </thead>
      <tbody *ngFor="let defi of chami.defis">
        <td class="titre">{{ defi.titre }}</td>
        <td class="description">{{ defi.description }}</td>
      </tbody>
    </table>-->
    <!-- <ul>
      <li *ngFor="let defi of chami.defis">
        <td class="titre">{{ defi.titre }}</td>
        <td class="description">{{ defi.description }}</td>
        <td>
          <button (click)="onNbLikes()">{{ nbLikes }} {{ buttonText }}</button>
        </td>
      </li>
    </ul> -->