<section class="ListChamis"
         *ngIf="listChamis|async as chamis">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Chamis</mat-card-title>
            <mat-card-subtitle>Rencontrez les membres de la communauté !</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li class="grid">
                    <th class="auteur">Auteur</th>
                    <th class="age">Age</th>
                    <th class="nbDefi">Défis créés</th>
                </li>
                <app-list-element-chami *ngFor="let chami of chamis" [chami]="chami"></app-list-element-chami>
            </ul>
        </mat-card-content>
    </mat-card>
</section>