<form >
  
  
      <mat-form-field class="type-etape" appearance="fill">
  
          <mat-label>Type</mat-label>
          <mat-select #typeEtape>
              <mat-option [value]="TypeEtape.mere">
                SIMPLE
            </mat-option>
            <mat-option [value]="TypeEtape.media">
              MEDIA
          </mat-option>

          </mat-select>
        </mat-form-field>
  
      <mat-form-field class="desctiption-defi" appearance="fill" *ngIf="typeEtape.value==TypeEtape.media">
          <!-- <mat-label>URL</mat-label> -->
          <app-upload (urlFichier)="labelEtape.value=$event"></app-upload>
          <input disabled matInput type="text"/>
      </mat-form-field>

        <mat-form-field>
          <mat-label>Description de l'étape ou URL</mat-label>
          <!-- <input [disabled]="typeEtape.value==TypeEtape.media" type="text" #labelEtape matInput/> -->
          <input [disabled]="typeEtape.value==TypeEtape.media" type="text" #labelEtape matInput/>
        </mat-form-field>
        
    
      
        <mat-form-field #normal>
          <mat-label>Cout de l'indice</mat-label>
          <input matInput type="number" #cout/>
        </mat-form-field>
     
  
        <button (click)="addNewIndice({
          type_etape: typeEtape.value,
          id: 0,
          label: labelEtape.value,
          rang: rang,
          cout: cout.valueAsNumber
        }); labelEtape.value=''; cout.valueAsNumber=0;">Sauvegrader l'indice</button>
  
  
  </form>