<div class="defi">
    <tr>
        <td>
            <label class="texte">
                {{defi.id}}
            </label>
        </td>
        <td>
            <label class="texte">
                {{defi.titre}}
            </label>
        </td>
        <td>
            <label class="texte">
                {{defi.auteur}}
            </label>
        </td>
        <td>
            <label class="texte">
                {{defi.dateDeCreation}}
            </label>
        </td>
    </tr>
</div>