<!-- Faire une route a part, id automatique ? , pourquoi le chami est dasns un tableau-->

<div>
    <form (submit)="addDefi({id:'',
                            categorie: getCategorieString(categorie.value),
                            titre: titre.value,
                            dateDeCreation: '',
                            etape:[],
                            description: description.value,
                            auteur:chami}); titre.value=''; description.value=''; categorie.value=''">

        <!-- <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>id du defi</mat-label>
            <input #id matInput type="text" name="idDefi" placeholder="id du défi">
        </mat-form-field> -->
            <div class="add-defi-form">
                <mat-form-field class="titre" appearance="fill">
                  <mat-label>Titre</mat-label>
                  <input
                    #titre
                    matInput
                    type="text"
                    name="titreDefi"
                    placeholder="Titre du défi"
                  />
                </mat-form-field>

                <mat-form-field class="categorie" appearance="fill">
                    <mat-label>Categorie</mat-label>
                    <mat-select #categorie>
                        <mat-option *ngFor="let cat of getCategorie()" [value]="cat">
                            {{cat}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="description-defi" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea maxlength="255" #description matInput placeholder="Description générale du défi"></textarea>
                </mat-form-field>

                <p
                    *ngFor="let etape of listEtape; let index = index"
                >{{etape.label}} - rang : {{etape.rang}}</p>

                <app-new-etape
                                
                [defi]="defi" [rang]="listEtape.length+1" (newEtape)="addEtape($event)"

                ></app-new-etape>

                <button mat-raised-button color="primary" style="margin-left: 20px;" type="submit">Créer</button>
                <br/>
            </div>
       
    </form>
</div>
