.example-button-row .mat-button-base {
  margin: 8px 0px 8px 8px;
}

.example-button-row {
  text-align: center;
  margin: auto;
}

.example-spacer {
  flex: 1 1 auto;
}
  
.spacer-pic-nom {
  width: 10px;
}

.align-center {
  margin-top: 10px;
  text-align: center;
}

.smaller{
  font-size: 0.85em;
}