
<form>


    <mat-form-field class="type-etape" appearance="fill">

        <mat-label>Type d'étape</mat-label>
          <mat-select #typeEtape>
            <mat-option [value]="TypeEtape.mere">
              SIMPLE
            </mat-option>
            <mat-option [value]="TypeEtape.media">
              MEDIA
            </mat-option>
            <mat-option [value]="TypeEtape.question">
              QUESTION
            </mat-option>
          </mat-select>
      </mat-form-field>
      <br/>

      <div>
        <label class="example-margin">Est-ce un indice ?</label> &nbsp;
        <mat-radio-group>
          <mat-radio-button type="radio" name="estIndice" id="oui" value="Oui" (change)="setIndice(true)">
            <label for="oui">Oui</label>
          </mat-radio-button> &nbsp;
          <mat-radio-button checked type="radio" name="estIndice" id="non" value="non" (change)="setIndice(false)">
            <label for="non">Non</label>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <br/>

      <mat-form-field class="description-etape" appearance="fill" [class.cacheIndice] = "isIndice() && typeEtape.value == 'media'">
        <mat-label>Description de l'étape</mat-label>
        <textarea maxlength="255" #labelEtape matInput placeholder="Description, Question, Autre, etc."></textarea>
      </mat-form-field>
      <br/>

      <!--<mat-form-field>
        <mat-label>Rang</mat-label>
        <input matInput type="number" [ngModel]="rang" #rangEtape/>
      </mat-form-field>-->

      <mat-form-field class="cacher type-etape" appearance="fill" [class.media] = "typeEtape.value == 'media'">
        <!-- <mat-label>URL</mat-label> -->
        <app-upload (urlFichier)="monURL.value=$event"></app-upload>
        <input disabled matInput type="text" #monURL/>
      </mat-form-field>

      <!-- <mat-form-field>
        <app-upload></app-upload>
      </mat-form-field> -->

      <mat-form-field class="cacher type-etape" appearance="fill" [class.indice] = "isIndice()">
        <mat-label>Cout de l'indice</mat-label>
        <input matInput type="number" #cout/>
      </mat-form-field>




   <!--   <mat-form-field
      class="cacher"
      [class.media] = "typeEtape.value === 'indice'"
    >
      <mat-label>Cout</mat-label>
      <input matInput type="number" #cout/>
    </mat-form-field> -->



    <div class="divQuestion"
    class="cacher"
    [class.question] = "typeEtape.value == 'question'"
    >
      
    <mat-form-field>
      <mat-label>Point de la question</mat-label>
      <input matInput type="number" #point/>
    </mat-form-field>
  
    <app-indice
      [defi]="defi" [rang]="rang" (newIndice)="addIndice($event)"
    ></app-indice>

    <mat-form-field appearance="fill">
      <mat-label>Type de réponse attendue</mat-label>
      <mat-select #typeReponse>
          <mat-option [value]="'STRING'">
            texte
        </mat-option>
        <mat-option [value]="'MEDIA'">
          média
      </mat-option>
      <mat-option [value]="'INT'">
        nombre
    </mat-option>
      </mat-select>
    </mat-form-field>


        <mat-form-field>
          <mat-label>Réponse</mat-label>
          <input matInput type="text" #reponseAttendu/>
        </mat-form-field>

    </div>

      <button (click)="addNewEtape({
        type_etape: typeEtape.value,
        id: 0,
        label: labelEtape.value,
        rang: rang,
        url : monURL.value,
        point : point.valueAsNumber,
        reponseAttendu: reponseAttendu.value,
        cout: 3,
        typeReponseAttendu: typeReponse.value
      }); monURL.value=''; labelEtape.value=''; cout.valueAsNumber=0; point.valueAsNumber=0">Ajouter une etape</button>

      <!--AJOUTER LE COMPOSANT QUESTION AVEC LA CLASS : 
        [class.question] = "typeEtape.value === 'question'"
        class="cacher"
      -->


    <!--<mat-form-field appearance="fill">
      <mat-label>Rang de l'étape</mat-label>
      <input matInput placeholder="Rang de l'étape" type="number" #rang/>
    </mat-form-field>-->

</form>