@media only screen and (max-width: 595px) {
    #detailEtape{

        width: 330px;
        margin:auto;
    }
    #detailEtape p{
        text-align: left;
    }
}

@media only screen and (min-width: 595px){
    #detailEtape{
        margin-left: 15px;
    }
    #detailEtape p{
        text-align: left;
    }
}

button{
    margin-bottom:3px;
}