<section [ngSwitch]="etape.type_etape">
    <p *ngSwitchCase="TypeEtape.media">
        <!-- TODO : gerer différents média-->
        <mat-card-content>
            {{etape.label}}<br/>
            <img mat-card-image src="{{etape.url}}" alt="{{etape.label}}" />
        </mat-card-content>
    </p>

    <form *ngSwitchCase="TypeEtape.question" >
        <p>
            Question : {{etape.label}}<br/>
            <input #reponse/>
        </p>
    </form>

    <form *ngSwitchCase="TypeEtape.indice" >
        <button mat-raised-button color="accent" *ngIf="!tipDisplayed"
                (click)="displayTip()">Un indice ?</button>
        <p *ngIf="tipDisplayed">
            {{etape.label}}
        </p>
    </form>


    <p *ngSwitchDefault>{{etape.label}}</p>

</section>