<section id="detailEtape" [ngSwitch]="etape.type_etape">
    <p *ngSwitchCase="TypeEtape.media">
        <!-- TODO : gerer différents média-->
        <mat-card-content>
            {{etape.label}}<br/>
            <img mat-card-image src="{{etape.url}}" alt="{{etape.label}}" />
        </mat-card-content>
    </p>

    <form *ngSwitchCase="TypeEtape.question" >
        <p>
            Question : {{etape.label}}<br/>
            <input #reponse/>
        </p>
    </form>


    <p *ngSwitchDefault>{{etape.label}}</p>

</section>
<form *ngIf="etape.listeIndice!=undefined && etape.listeIndice.length > 0">
    <button mat-raised-button color="accent" *ngIf="nbTips > iTip"
            (click)="displayTip()">Un indice ?</button>
    <p  *ngFor="let tip of displayedTips">
        {{tip.label}}
    </p>
</form>