.grid {
    display: grid;
    height: 20px;
    grid-template-columns: repeat(6,1fr);
    max-width: 310px;
  }
  
  .titre {
    grid-column: 1/span 3;
  }

  .grid2 {
    display: grid;
    height: 20px;
    max-width: 310px;
  }

  .clickableLine:hover {
    cursor: pointer;
    background-color: #d3d3e4;
  }
  
  .date {
    grid-column: 4;
    text-align:center
  }

  .enCours {
    grid-column: 5/span 2;
    text-align:center
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mrgTop {
    margin-top: 30px;
  }