<section class="container ListChamis mrgTop" *ngIf="subj | async as visites">
  <!-- <section class="container ListChamis mrgTop" *ngIf="subjDTO | async as visites"> -->
  <p *ngIf="visites.length == 0; else afficher">
    Vous n'avez effectué aucune visite !
  </p>
  <ng-template #afficher>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Visites</mat-card-title>
        <mat-card-subtitle>
          Vos Visites en cours et passées.
          <br />
          Appuyez sur un défi en cours pour le reprendre.
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <table>
          <thead>
            <th class="titre">Titre</th>
            <th class="date">Date</th>
            <th class="enCours">Statut</th>
          </thead>
          <tbody>
            <tr
            [class.clickableLine]="!visite.dateFin"
              *ngFor="let visite of visites"
              (click)="reprendreVisite(visite)"
            >
              <td class="titre padd">{{ visite.defi.titre }}</td>
              <td class="date padd">
                {{ csService.parsedDateToString(visite.dateDebut.toString()) }}
              </td>
              <td class="enCours padd">{{ etatVisite(visite) }}</td>
            </tr>
          </tbody>
        </table>
        <!-- <ul>
            <li class="grid">
              
            </li>
            <li
              
            >
              
            </li>
          </ul> -->
      </mat-card-content>
    </mat-card>
  </ng-template>
</section>
