<p>visite-list works!</p>

<section class="container ListChamis mrgTop" *ngIf="subj | async as visites">
    <mat-card class="visite-card">
        <mat-card-header>
            <mat-card-title>Visites</mat-card-title>
            <mat-card-subtitle>
                Vos Visites en cours et passées
            </mat-card-subtitle>
            
            <mat-card-content>
                <ul>
                    <li class="grid">
                        <th class="titre">id visite</th>
                        <th class="titre">Titre du défi</th>
                        <th class="date">Date</th>
                        <th class="enCours">En cours</th>
                    </li>
                    <li 
                    *ngFor="let visite of visites">
                        <td class="titre">{{visite.id}}</td>
                        <td class="titre">{{ visite.defi.titre }}</td>
                        <td class="date">{{ visite.dateDebut }}</td>
                        <td class="enCours">{{ visite.dateFin==null }}</td>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card-header>
        </mat-card>
    </section>