<section class="container ListChamis mrgTop" *ngIf="subj | async as visites">
<!-- <section class="container ListChamis mrgTop" *ngIf="subjDTO | async as visites"> -->
    <mat-card class="visite-card">
        <mat-card-header>
            <mat-card-title>Visites</mat-card-title>
            <mat-card-subtitle>
                Vos Visites en cours et passées
                <br>
                appuiez sur un défi pour le rependre
            </mat-card-subtitle>
            
            <mat-card-content>
                <ul>
                    <li class="grid">
                        <!-- <th class="id">id visite</th> -->
                        <th class="titre">titre du défi</th>
                        <th class="date">Date</th>
                        <th class="enCours">En cours</th>
                    </li>
                    <li 
                    class="grid2 clickableLine"
                    *ngFor="let visite of visites"
                    (click)="reprendreVisite(visite.id)">
                        <!-- <td class="id">{{visite.id}}</td> -->
                        <td class="titre">{{ visite.defi.titre }}</td>
                        <!-- <td class="date">{{ visite.dateDebut }}</td> -->
                        <td class="date">{{ csService.parsedDateToString(visite.dateDebut.toString()) }}</td>
                        <td class="enCours">{{ etatVisite(visite) }}</td>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card-header>
        </mat-card>
    </section>