<!-- <div>
    <input  type="file" (change)="upload($event)" accept=".png,.jpg"/>

</div> -->

<!-- <label>
    <input
      type="file"
      accept=".png,.jpg"
      (change)="selectFile($event)"
    />
  </label> -->
<div style="text-align: center">
  <input
    #Input
    hidden="true"
    type="file"
    onclick="this.value=null"
    (change)="selectFile($event)"
    accept=".png, .jpg"
  />
  <button mat-stroked-button color="primary" (click)="Input.click()">
    Téléverser une image
  </button>
  <p>Accepte uniquement des fichiers de type .png ou .jpg</p>
</div>

<!-- <button mat-raised-button
    [disabled]="!selectedFiles"
    (click)="upload()"
  >
    Upload
  </button> -->
<!-- <div *ngIf="currentFileUpload">
    <a href="{{ currentFileUpload.url }}">{{currentFileUpload.name}}</a>
    <p>this.uploadService</p>
  </div> -->
