<!-- <div>
    <input  type="file" (change)="upload($event)" accept=".png,.jpg"/>

</div> -->


<!-- <label>
    <input
      type="file"
      accept=".png,.jpg"
      (change)="selectFile($event)"
    />
  </label> -->

  <input #Input hidden="true" type="file" onclick="this.value=null" (change)="selectFile($event)" accept=".png, .jpg"/>
  <button mat-flat-button color="primary" (click)="Input.click();">Téleverser une image</button>
  


  <!-- <button mat-raised-button
    [disabled]="!selectedFiles"
    (click)="upload()"
  >
    Upload
  </button> -->
  <!-- <div *ngIf="currentFileUpload">
    <a href="{{ currentFileUpload.url }}">{{currentFileUpload.name}}</a>
    <p>this.uploadService</p>
  </div> -->
  